.header{
    color: rgb(194, 161, 32);
    text-decoration: underline;
}

.main{
    width: 40%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid black;
    padding: 10px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}